{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="static/home.css">
    
  </head>
  <body>
    <main>
      <form action = "write" method = "POST">
        <input type = "reset" value = "Clear" name = "reset">
        <input type = "submit" value = "Load">
        <ol >

          <li><div class = "container0">
            <textarea id="text0" rows = 7 placeholder = "Type here:"  >{{container0}}</textarea>
          </div></li>
          <li><div class = "container1">
            <textarea id="text1" rows = 7 placeholder = "Type here:"  >{{container1}}</textarea>
          </div></li>
          <li><div class = "container2">
            <textarea id="text2" rows = 7 placeholder = "Type here:"  >{{container2}}</textarea>
          </div></li>
          <li><div class = "container3">
            <textarea id="text3" rows = 7 placeholder = "Type here:"  >{{container3}}</textarea>
          </div></li>
          <li><div class = "container4">
            <textarea id="text4" rows = 7 placeholder = "Type here:"  >{{container4}}</textarea>
          </div></li>
          <li><div class = "container5">
            <textarea id="text5" rows = 7 placeholder = "Type here:"  >{{container5}}</textarea>
          </div></li>
          <li><div class = "container6">
            <textarea id="text6" rows = 7 placeholder = "Type here:"  >{{container6}}</textarea>
          </div></li>


      </ol>
         
      </form>
    </main>
	<!--<script src="index.js"></script>-->
  </body>
</html>